{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
  <div class="container-fluid">
  <!-- http://getbootstrap.com/components/#thumbnails -->
    <div class="row">
    {% for project in projects %}
      <div class="col-md-4">
        <div class="thumbnail">
          <a href={{project["url"]}}>
            <img class="img-responsive" src={{project["image_url"]}} alt="">
            <div class="caption">
              <p>{{project["title"]}}</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
